<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Whatsapp</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="css/style.css">
        
    </head>
    <body class="container-fluid" id="app">
        <div class="row">
            <aside class="col-4 px-0">
                <div class="profil">
                    <div class="info">
                        <img src="img/avatar_io.jpg" alt="Io">
                        Sofia
                    </div>
                    <div class="options">
                        <button><i class="fa-solid fa-circle-notch"></i></button>
                        <button><i class="fa-solid fa-message"></i></button>
                        <button><i class="fa-solid fa-ellipsis-vertical"></i></button>
                    </div>
                </div>
                <div class="alert_notification">
                    <div class="icon"><i class="fa-solid fa-bell-slash"></i></div>
                    <div class="message_alert">
                        Ricevi notifiche di nuovi messaggi
                        <button>Attiva notifiche desktop</button>
                    </div>
                </div>
                <div class="search">
                    <div class="search_input">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <input type="text" placeholder="Cerca o inizia una nuova chat">
                    </div>
                </div>
                <ul class="conversations">
                    <li class="conversation" v-for="(contact, index) in contacts"
                        :class="{
                            'active': (currentContact == index)
                        }"
                        @click="showConversation(index)">
                        <img v-bind:src="'img/avatar' + contact.avatar + '.jpg'" :alt="contact.name">
    
                        <div class="info">
                            {{contact.name}}
                            <span>
                                Ultimo messaggio inviato
                            </span>
                        </div>
                        <div class="hour">
                            12:00
                        </div>
                    </li>
                </ul>
            </aside>
            <main class="col-8 px-0">
                <div class="current_conversation" v-for="(contact, index) in contacts"
                    :class="{
                        'active': (currentContact == index)
                    }">
                    <div class="informations">
                        <img v-bind:src="'img/avatar' + contact.avatar + '.jpg'" :alt="contact.name">
                        <div class="receiver">
                            {{contact.name}}
                            <span>
                                Ultimo messaggio oggi alle 12:00
                            </span>
                        </div>
                        <div class="options">
                            <button><i class="fa-solid fa-magnifying-glass"></i></button>
                            <button><i class="fa-solid fa-paperclip"></i></button>
                            <button><i class="fa-solid fa-ellipsis-vertical"></i></button>
                        </div>
                    </div>
                    <div class="messages" >
                        <div v-for="(message, index) in contact.messages" v-bind:class="'message ' + message.status">
                            {{message.message}}
                            <span class="hour">{{message.date}}</span>
                        </div>
                    </div>
                    <div class="send_message">
                        <button><i class="fa-regular fa-face-smile"></i></button>
                        <input type="text" placeholder="Scrivi un messagio">
                        <button><i class="fa-solid fa-microphone"></i></button>
                    </div>
                </div>
            </main>
        </div>
    </body>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="js/scripts.js"></script>
</html>